In [1]:
import pandas as pd
import numpy as np

In [29]:
data=pd.read_csv(r'sample.csv')

In [30]:
data.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0

In [31]:
data.dropna()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0
5,119243,VirginTrains,False,Tue Oct 10 15:25:14 +0000 2017,"@105836 Have you tried from another device, Mi...",119244,119241.0
6,119244,105836,True,Tue Oct 10 15:26:44 +0000 2017,"@VirginTrains yep, I've tried laptop too sever...",119245,119243.0
8,119242,105836,True,Tue Oct 10 15:09:00 +0000 2017,@VirginTrains I still haven't heard &amp; the ...,119240,119246.0
9,119246,VirginTrains,False,Tue Oct 10 10:13:19 +0000 2017,@105836 That's what we're here for Miriam ðŸ˜Š T...,119242,119247.0
11,119249,105837,True,Wed Oct 11 07:37:27 +0000 2017,"@105838 @AppleSupport Me too am suffering , ho...",119248,119250.0
15,119254,SpotifyCares,False,Wed Oct 11 13:41:25 +0000 2017,@105840 Hi there! What device is this happenin...,119255,119256.0
16,119255,105840,True,Wed Oct 11 13:45:59 +0000 2017,@SpotifyCares Thanks! Version 8.4.22.857 armv7...,119257,119254.0
17,119257,SpotifyCares,False,Wed Oct 11 14:00:48 +0000 2017,@105840 Thanks. The distance could possibly af...,119258,119255.0
18,119258,105840,True,Wed Oct 11 14:01:58 +0000 2017,"@SpotifyCares No, but I've moved speaker to ab...",119259,119257.0
19,119259,SpotifyCares,False,Wed Oct 11 14:20:00 +0000 2017,@105840 That's great to hear. If anything come...,119260,119258.0
20,119260,105840,True,Wed Oct 11 14:22:05 +0000 2017,@SpotifyCares Brilliant thanks ðŸ˜Š,119261,119259.0
30,119270,105844,True,Wed Oct 11 06:49:50 +0000 2017,@AppleSupport Can you get my iPhone 7plus back...,119269,119271.0
31,119271,AppleSupport,False,Wed Oct 11 03:26:00 +0000 2017,@105844 We'd be happy to help. Send us a DM an...,119270,119272.0
41,119281,SpotifyCares,False,Wed Oct 11 13:31:32 +0000 2017,@105847 Hi Harry! Help's here. Can you check i...,119282,119283.0
42,119282,105847,True,Wed Oct 11 13:46:20 +0000 2017,@SpotifyCares seems to be working at this stag...,119284,119281.0
43,119284,SpotifyCares,False,Wed Oct 11 14:07:15 +0000 2017,@105847 Sure thing. We'll keep an eye out for ...,119285,119282.0
44,119285,105847,True,Thu Oct 12 10:25:35 +0000 2017,@SpotifyCares problem has come back again toda...,119286,119284.0
45,119286,SpotifyCares,False,Thu Oct 12 11:43:57 +0000 2017,@105847 Thanks for giving us a nudge about thi...,119287,119285.0
46,119287,105847,True,Thu Oct 12 12:04:21 +0000 2017,@SpotifyCares It's on a Macbook Air (early 201...,119288,119286.0
49,119289,AppleSupport,False,Wed Oct 11 13:44:29 +0000 2017,@105848 Let's take a look. What is the exact i...,"119290,119291",119292.0
55,119295,SouthwestAir,False,Wed Oct 11 13:39:32 +0000 2017,@105850 Once the points load and you hit the n...,119296,119297.0
62,119266,British_Airways,False,Wed Oct 11 13:37:15 +0000 2017,"@105842 I appreciate it's after 15:30 now, so ...",119302,119265.0
63,119302,105842,True,Wed Oct 11 13:47:24 +0000 2017,@British_Airways Thanks for your answer. Respo...,119303,119266.0
65,119304,Ask_Spectrum,False,Wed Oct 11 13:42:00 +0000 2017,@105854 I am sorry for the poor experience. Ca...,119305,119306.0
68,119308,Tesco,False,Wed Oct 11 13:33:07 +0000 2017,"@105855 Hi Thomas, if a colleague believes the...",119309,119310.0
70,119310,105855,True,Wed Oct 11 13:31:06 +0000 2017,@Tesco The point is if it's enforced they do i...,119308,119311.0
71,119311,Tesco,False,Wed Oct 11 13:28:34 +0000 2017,"@105855 Hi Thomas, this is correct but this he...","119310,119312",119313.0
72,119313,105855,True,Wed Oct 11 12:29:52 +0000 2017,@Tesco Uk offlicense law is 18. Not 25,119311,119314.0
73,119314,Tesco,False,Wed Oct 11 12:17:02 +0000 2017,"@105855 Hi Thomas, we operate a Think 25 polic...",119313,119315.0
75,119317,Tesco,False,Wed Oct 11 13:42:19 +0000 2017,"@105856 Hi there, could you try deleting your ...",119318,119319.0
76,119318,105856,True,Wed Oct 11 13:43:09 +0000 2017,@Tesco Will I lose all the shopping I've done ...,119320,119317.0
77,119320,Tesco,False,Wed Oct 11 13:45:00 +0000 2017,"@105856 Hi there, as long as you sign out of y...",119321,119318.0
78,119321,105856,True,Wed Oct 11 13:48:39 +0000 2017,@Tesco Done all that. Still telling me there a...,119322,119320.0
82,119324,105857,True,Wed Oct 11 08:52:14 +0000 2017,@AppleSupport I have the latest version iOS. I...,119323,119325.0
83,119325,AppleSupport,False,Wed Oct 11 00:19:34 +0000 2017,@105857 We'd like to help if we can. When did ...,119324,119326.0
88,119330,105859,True,Wed Oct 11 13:50:42 +0000 2017,@105860 I wish Amazon had an option of where I...,119329,119331.0
90,119332,Tesco,False,Wed Oct 11 13:34:06 +0000 2017,"@105861 Hey Sara, sorry to hear of the issues ...",119333,119334.0
91,119333,105861,True,Wed Oct 11 14:05:18 +0000 2017,@Tesco bit of both - finding the layout cumber...,"119335,119336",119332.0

In [32]:
# Remove Emails
import re
data['text_processed'] = data['text'].map(lambda x: re.sub('[,\.!?@]', '', x))

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer(max_df=0.8, min_df=2, stop_words='english')
doc_term_matrix = count_vect.fit_transform(data['text_processed'].values.astype('U'))

In [34]:
doc_term_matrix

<93x163 sparse matrix of type '<class 'numpy.int64'>'
	with 615 stored elements in Compressed Sparse Row format>

In [35]:
from sklearn.decomposition import LatentDirichletAllocation

LDA = LatentDirichletAllocation(n_components=5, random_state=42)
LDA.fit(doc_term_matrix)

LatentDirichletAllocation(n_components=5, random_state=42)

In [36]:
import random

for i in range(8):
    random_id = random.randint(0,len(count_vect.get_feature_names()))
    print(count_vect.get_feature_names()[random_id])

new
matter
address
depart
answer
hi
link
listen

In [37]:
first_topic = LDA.components_[0]

In [38]:
top_topic_words = first_topic.argsort()[-10:]

In [39]:
for i in top_topic_words:
    print(count_vect.get_feature_names()[i])

does
speaker
gdrqu22ypt
spotifycares
know
dm
let
help
https
tco

In [40]:
for i,topic in enumerate(LDA.components_):
    print(f'Top 10 words for topic #{i}:')
    print([count_vect.get_feature_names()[i] for i in topic.argsort()[-10:]])
    print('\n')

Top 10 words for topic #0:
['does', 'speaker', 'gdrqu22ypt', 'spotifycares', 'know', 'dm', 'let', 'help', 'https', 'tco']


Top 10 words for topic #1:
['help', 'reply', 'hi', 'gdrqu22ypt', 'version', 'ios', 'dm', 'applesupport', 'https', 'tco']


Top 10 words for topic #2:
['does', 'new', '105847', 'logging', 'thanks', 'device', 'phone', 'gt', 'update', '76099']


Top 10 words for topic #3:
['happy', 've', 'dm', 'store', 'help', 'send', 'look', 'tco', 'https', 'tesco']


Top 10 words for topic #4:
['105836', 'times', 'help', '105842', 'email', 'sorry', 'tried', 've', 'just', 'thanks']

In [41]:
topic_values = LDA.transform(doc_term_matrix)
topic_values.shape

(93, 5)

In [42]:
data['Topic'] = topic_values.argmax(axis=1)

In [43]:
data.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,text_processed,Topic
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN,AppleSupport causing the reply to be disregard...,1
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0,105835 Your business means a lot to us Please ...,0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN,76328 I really hope you all change but I'm sur...,2
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0,105836 LiveChat is online at the moment - http...,4
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0,VirginTrains see attached error message I've t...,4

In [52]:

def sentiment_analysis(x): 
    if x=='':
        return 'no comment'
    sid = SentimentIntensityAnalyzer()
    dict1=sid.polarity_scores(x)
    Keymax = max(dict1, key=dict1.get)
    return Keymax

import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

data['sentiments']=data['text_processed'].apply(sentiment_analysis)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\sumeetku\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!